{% extends "navbarperfiles.html" %}
{% load static %}

<head>
    <title>{% block title %}Eliminar libro{% endblock %}</title>
</head>
<body>
    {% block content %}
    <!--Navbar heredado-->
      <label class="d-flex align-items-center justify-content-center full-height " style="margin-top: 50px;">
          <label class="card" style="width: 50rem;">
              <img src="{{ libro.imagen.url }}" alt="{{ libro.titulo }}">
              <div class="card-body">
                  <h1>{{ libro.titulo }}</h1>
                  <p>Autor: {{ libro.autorlibro.nombreAutor }} {{ libro.autorlibro.apellidoAutor }}</p>
                  <p>Tematica: {{ libro.tematica }}</p>
                  <p>Editorial: {{ libro.editorial }}</p>
                  <p>Edición: {{ libro.edicion }}</p>
                  <p>Fecha de Publicación: {{ libro.fechaDePublicacion }}</p>
                  <p>Cantidad: {{ libro.cantidad }}</p>
                  <p>Precio: {{ libro.precio }}</p>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#alertamodal">
                      Eliminar libro del sistema
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="alertamodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmacion</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Esta accion no se puede revertir.

                            <form action="{% url 'eliminar_libro_del_sistema' libro.id %}" method="post" style="margin-top: 15px;">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-outline-danger"> 
                                  Eliminar libro del sistema
                              </button>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  
              </div>
          </label>
      </label>
    <div class="container-fluid text-center"><!-- Grid para un boton de volver atras -->
        <div class="row">
          <div class="col">
            <!-- ?-->
          </div>
          <div class="col">
            <!-- ? -->
          </div>
          <div class="col">
            <a href="{% url 'catalogolibros' %}" class="btn btn-danger" style="margin-top: 50px;margin-bottom: 50px;">Volver atras</a>
          </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>