{% extends 'navbarperfiles.html' %}
{% load static %}
<html lang="en">
<head>

    <title>{% block title %}Foro{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container text-center">
            <h3 style='text-align: center;'>Publicaciones del foro</h3>
            <div class="row" style="margin-top: 50px">
                <div class="col-3" id="columnaLibro">
                    {% for publicacion in publicaciones %}
                        <div id="divFoto">
                            {% if publicacion.libroAsociado.imagen %}
                            <img class="img-fluid" src="{{ publicacion.libroAsociado.imagen.url }}" style="margin-bottom: 20px;">  
                            {% else %}  
                            <img src="{% static 'images/default_imagen.jpg' %}" alt="Imagen por defecto">
                            {% endif %}
                        </div>
                        <div class="text-container " style="margin-bottom: 100px ;">
                            <p>Titulo Post: {{ publicacion.tituloPost|capfirst }}</p>
                            <p>Autor Post: {{ publicacion.usuario.username }}</p>
                            <p>Libro asociado: {{ publicacion.libroAsociado.titulo|capfirst }}</p>
                            <p>Autor libro: {{ publicacion.libroAsociado.autorlibro.nombreAutor|capfirst }} {{ publicacion.libroAsociado.autorlibro.apellidoAutor|capfirst }}</p>
                            <p>Tematica del libro: {{ publicacion.libroAsociado.tematica|capfirst }}</p>
                            <p>Puntuacion: {{ publicacion.puntuacion }}/5
                                <i class="bi bi-star"></i>
                            </p>
                            <p>
                                <a href="{% url 'puntuar_post' publicacion.id %}" class="btn btn-outline-warning" style="border-radius: 20px;">Puntuar</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-8" id="cuerpo"> 
                    <div>
                        <br><br>
                        
                        <br><br>
                        <ul>
                        
                            {% for publicacion in publicaciones %}
                                <div class="contenedorPublicacion">
                                    <h3 style="margin-bottom: 20px; ">{{ publicacion.tituloPost|capfirst }}</h3>
                                    {{ publicacion.contenidoPost|capfirst }}
                                    {% if publicacion.usuario == user or user.is_superuser %}
                                    <!-- Button trigger modal -->
                                        <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#avisoModalPost">
                                            <i class="bi bi-x-lg" style="color: red"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="avisoModalPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                        <p>¿Seguro que desea eliminar esta publicacion?</p>
                                                        <p>Esta accion no se puede revertir.</p>
                                                    <a href="{% url 'eliminarPublicacion' publicacion.id %}">
                                                        <button class="btn btn-outline-danger">Eliminar publicacion</button>
                                                    </a>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!--ELIMINAR Y EDITAR PUBLICACION-->
                                    {% if publicacion.usuario == user %}
                                        <a href="{% url 'editarPublicacion' publicacion.id %}"><i class="bi bi-pencil-fill" style="color: blue"></i></a>
                                    {% endif %}
                                    
                                </div>

                                <div class="d-flex justify-content-end">
                                    <!--AGREGAR ACÁ BOTON DE REPORTAR) -->
                                    {% if publicacion.usuario != user and not user.is_superuser %}
                                        <a href="{% url 'reportar_post' publicacion.id %}" class="btn btn-outline-danger">Reportar</a>
                                    {%endif%} 
                                </div>
                                <p class="d-inline-flex gap-1">
                                    <a class="custom-button"  id="botonAcordeonComentarios-{{ publicacion.id }}" data-bs-toggle="collapse" href="#multiCollapseExample-{{ publicacion.id }}" role="button" aria-expanded="true" aria-controls="multiCollapseExample-{{ publicacion.id }}">Comentarios({{ publicacion.comentario_set.count }}) </a>
                                </p>
                                <div class="row" style="margin-bottom:170px">
                                    <div class="col">
                                        <div class="collapse multi-collapse show acordeonComentarios" id="multiCollapseExample-{{ publicacion.id }}">
                                            <div class="card card-body" >
                                                <div>
                                                    {% for comentario in publicacion.comentario_set.all %}
                                                        <div class="comentarioIndividual">
                                                            <strong>{{ comentario.usuario.username }}</strong>: {{ comentario.contenidoComentario|capfirst }}
                                                            
                                                            <!-- PARA ELIMINAR COMENTARIO-->
                                                            {% if comentario.usuario == user or user.is_superuser %}
                                                            <!-- Button trigger modal -->
                                                                <a type="button" class="bi bi-x-lg" style="color: red" data-bs-toggle="modal" data-bs-target="#avisoModalComentario"></a>
                                                                <!-- Modal -->
                                                                <div class="modal fade" id="avisoModalComentario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso</h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body" style="text-align: center;">
                                                                            <p>¿Esta seguro que desea eliminar este comentario?</p>
                                                                                <p>Esta accion no se puede revertir.</p>
                                                                            <a href="{% url 'eliminarComentario' comentario.id %}" class="btn btn-outline-danger">
                                                                                Eliminar comentario
                                                                            </a> 
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>           
                                                            {% endif %}
                                                            {% if comentario.usuario == user  %}
                                                                <a href="{% url 'editarComentario' comentario.id %}"><i class="bi bi-pencil-fill" style="color: blue"></i></a>
                                                            {% endif %}
                                                            <!--AGREGAR ACÁ BOTON DE REPORTAR) -->
                                                            {% if comentario.usuario != user and not user.is_superuser %}
                                                                <a href="{% url 'reportar_comentario' comentario.id %}"><i class="bi bi-exclamation-diamond" style="color: red"></i></a>
                                                            {%endif%} 
                                                        </div>
                                                            
                                                    {% endfor %}
                                                    
                                                </div>
                                                <!-- Formulario escribir comentario -->
                                                <div class="formularioComentarios" >
                                                    
                                                    <form method="post" action="{% url 'comentarPublicacion' publicacion.id %}">
                                                        {% csrf_token %}
                                                        {{ form_comentario.as_p }}
                                                        <button type="submit" class="btn btn-primary" id="botonComentar" style="float: right">Comentar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>    
            </div>
        </div> 
    {% endblock %} 
</body>
</html>
