{% extends "navbarperfiles.html" %}
{% load static %}
<head>
  <title>{% block title %}Perfil de Administrador{% endblock %}</title>
</head>
<body>
    {% block content %}
    <!--Navbar heredado-->
      <div class="container-fluid text-center"><!--GRID-->
        <div class="row">
          <div class="col" style="margin-top: 150px;">
            <div class="list-group">
              <a href="{% url 'agregar_libro_al_sistema' %}" class="list-group-item list-group-item-action active">Agregar libro</a>
              <a href="{% url 'catalogolibroseditar' %}" class="list-group-item list-group-item-action active">Modificar libro</a>
              <a href="{% url 'catalogolibroseditar' %}" class="list-group-item list-group-item-action active">Eliminar libro</a>
              <a href="#" class="list-group-item list-group-item-action active">Ver reportes</a>
              <a href="#" class="list-group-item list-group-item-action active">Gestionar cuentas de usuarios</a>
          </div>
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>
    {% endblock content %}
</body>
</html>