{% extends "navbarperfiles.html" %}
{% load static %}

<head>
    <title>{% block title %}Agregar Autor al sistema{% endblock %}</title>
</head>
<body>
    {% block content %}
    <!--Navbar heredado-->
    <div class="container-fluid text-center ">
        <div class="row">
          <div class="col-md-3">
            <!-- ?-->
          </div>
          <div class="col">
            <form method="post" action="{% url 'registrar_autor' %}" enctype="multipart/form-data" class="col-md-9">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h3>Datos del Autor</h3>
                        {{ form }}
                    </div>
                    <div class="col-md-6">
                        <h3></h3> 
                        <h3></h3>
                    </div>
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Confirmar cambios</button>
                    </div>
                </div>
            </form>
          </div>
          <div class="col-md-3">
            <!-- ?-->
          </div>
        </div>
    </div>                
    <div class="container-fluid text-center"><!-- Grid para un boton de volver atras -->
        <div class="row">
          <div class="col">
            <!-- ?-->
          </div>
          <div class="col">
            <!-- ? -->
          </div>
          <div class="col">
            <a href="{% url 'perfiladmin' %}" class="btn btn-danger" style="margin-top: 50px;margin-bottom: 50px;">Volver atras</a>
          </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>